*~
*.lock
*.DS_Store
*.swp
*.out
.env

# python specific
.pyc
venv

# java specific
*.class

# tensorflow specific
jni/

# sbt specific
target/
project/boot
lib_managed/*
project/build/target
project/build/lib_managed
project/build/src_managed
project/plugins/lib_managed
project/plugins/target
project/plugins/src_managed

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea

